# Ejercicios Modulo 5. Bases de datos con SQLite (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_04_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Ejercicio guiado de SQLite. Analiza y prueba el siguiente código:**

In [2]:
import os
import sqlite3

# Definimos la ruta y nombre de la base de datos, por defecto, en el directorio actual
default_path_db = "almacen.db" 
   
''' Función encargada de la conexión a la base de datos '''
def db_connect(db_path = default_path_db):
    conexion = sqlite3.connect(db_path) # Conexión a la base de datos
    return conexion
 
''' Función encargada de crear las tablas de la BD '''
def db_create_tables():
    try:
        # Por claridad, podemos usar la triple comilla para definir el create en varias lineas
        cur.execute("""CREATE TABLE producto (
                              id_producto INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              descripcion TEXT NOT NULL,
                              precio REAL NOT NULL
                            )""")
        print(" > Tabla producto creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla producto ya existe") 
        
    try:
        cur.execute("""CREATE TABLE cliente (
                              id_cliente INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              nombre TEXT NOT NULL,
                              apellido TEXT
                            )""")
        print(" > Tabla cliente creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla cliente ya existe") 
        
    try:
        cur.execute("""CREATE TABLE pedido (
                              id_pedido INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              fecha TEXT NOT NULL,
                              id_cliente INTEGER,
                              FOREIGN KEY (id_cliente) REFERENCES cliente (id_cliente)
                            )""")
        print(" > Tabla pedido creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla pedido ya existe") 
        
    try:
        cur.execute("""CREATE TABLE productos_del_pedido (
                              id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              id_producto INTEGER NOT NULL,
                              cantidad INTEGER NOT NULL,
                              id_pedido INTEGER NOT NULL,
                              FOREIGN KEY (id_producto) REFERENCES producto (id_producto),
                              FOREIGN KEY (id_pedido) REFERENCES pedido (id_pedido)
                            )""")
        print(" > Tabla productos_del_pedido creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla productos_del_pedido ya existe") 
        
    con.commit() # Se actualizan los cambios pendientes en la BD

''' Función encargada de crear un registro en la tabla producto '''
def db_create_producto(descripcion, precio):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO producto (descripcion, precio)
        VALUES (?, ?)"""
    cur.execute(sql, (descripcion, precio))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla cliente '''
def db_create_cliente(nombre, apellido):
    sql = """
        INSERT INTO cliente (nombre, apellido)
        VALUES (?, ?)"""
    cur.execute(sql, (nombre, apellido))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla pedido '''
def db_create_pedido(fecha, id_cliente):
    sql = """
        INSERT INTO pedido (fecha, id_cliente)
        VALUES (?, ?)"""
    cur.execute(sql, (fecha, id_cliente))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla pedido '''
def db_create_productos_del_pedido(id_producto, cantidad, id_pedido):
    sql = """
        INSERT INTO productos_del_pedido
            (id_producto, cantidad, id_pedido)
        VALUES (?, ?, ?)"""
    cur.execute(sql, (id_producto, cantidad, id_pedido))
    return cur.lastrowid
    
''' Función que resetea la base de datos eliminando sus tablas '''
def db_reset_database():
    cur.execute("DROP TABLE IF EXISTS producto")
    cur.execute("DROP TABLE IF EXISTS cliente")
    cur.execute("DROP TABLE IF EXISTS pedido")
    cur.execute("DROP TABLE IF EXISTS productos_del_pedido")
    con.commit() # Se actualizan los cambios pendientes en la BD
    print(" > Reset DB ... OK")
    
def db_select_all(nombre_tabla):
    print("\n=== REGISTROS DE LA TABLA", nombre_tabla.upper(), "===")
    cur.execute("SELECT * FROM {}".format(nombre_tabla))
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)
    

''' Función pricipal del programa '''
if __name__ == "__main__":
    
    con = db_connect() # Invocamos a la función que establece la conexión con la BD
    cur = con.cursor()  # Se crea el cursor para la BD
    
    db_reset_database() # Borramos las tablas de la base de datos antes de empezar
    db_create_tables() # Crear las tablas
    
    # En esta ocasión no vamos a insertar todos los datos de golpe
    # Vamos a crear un método para insertar cada registro de manera individual
    # Esta técnica es muy utilizada si la metodología estándar de inserción de datos es a través de formularios
    num = db_create_producto("Macbook Pro 13 pulgadas", 1200.00) # descripcion, precio
    db_create_producto("Dell Ultrasharp", 1500.00)
    db_create_producto("Iphone 5S", 900.50)
    db_create_producto("One Plus 6T", 499.00)
    db_create_producto("Applewatch", 399.70)
    
    db_create_cliente("Cristian", "Rodríguez") # nombre, apellido
    db_create_cliente("David", "Álvarez")
    db_create_cliente("Sara", "Campos")
    db_create_cliente("Lara", "Pérez")
    db_create_cliente("Sofía", "Rodríguez")
    
    db_create_pedido("2020-12-20", 1) # fecha, id_cliente
    db_create_pedido("2020-12-21", 2)
    db_create_pedido("2020-12-21", 3)
    db_create_pedido("2020-12-24", 1)
    db_create_pedido("2020-12-27", 5)
    
    db_create_productos_del_pedido(1, 2, 1) # id_producto, cantidad, id_pedido
    db_create_productos_del_pedido(2, 1, 1)
    db_create_productos_del_pedido(5, 3, 1)
    db_create_productos_del_pedido(1, 1, 2)
    db_create_productos_del_pedido(3, 1, 3)
    db_create_productos_del_pedido(4, 2, 3)
    db_create_productos_del_pedido(5, 5, 4)
    db_create_productos_del_pedido(1, 1, 5)
    db_create_productos_del_pedido(2, 1, 5)
    db_create_productos_del_pedido(3, 1, 5)
    db_create_productos_del_pedido(4, 1, 5)
    db_create_productos_del_pedido(5, 1, 5)
    
    # Hacemos unos selects generales para comprobar que los inserts se hayan realizado correctamente
    db_select_all("cliente")
    db_select_all("producto")
    db_select_all("pedido")
    db_select_all("productos_del_pedido")
    
    print("\n=== CONSULTA AVANZADA 1 ===")
    # Vamos a mezclar la tabla pedido y la tabla cliente, vamos a mostrar los pedidos y el nombre del cliente que los hizo
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                ''')
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)
        
    # Mejoremos el diseño de la salida por pantalla
    print("\n=== CONSULTA AVANZADA 1 (SALIDA POR PANTALLA MEJORADA) ===")
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                ''')
    titulo_id_pedido, titulo_fecha, titulo_id_cliente, titulo_nombre = "ID_PEDIDO", "FECHA", "ID_CLIENTE", "NOMBRE"
    print(f"{titulo_id_pedido:<12}{titulo_fecha:<15}{titulo_id_cliente:<12}{titulo_nombre:<10}")
    for id_pedido, fecha, id_cliente, nombre in cur.fetchall():
        print(f"{id_pedido:<12}{fecha:<15}{id_cliente:<12}{nombre:<10}")
    
        
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
    # ZONA DE EXPERIMENTACIÓN                                                                                   #
    # Una vez llegado aquí, realiza alguna consulta más, tenemos una tabla de pedido y                          #
    # una tabla que contiene los productos de cada pedido. Estas dos tablas estan relacionadas, se puede sacar  #
    # información del inner join de ambas.                                                                      #
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

    #### Vamos a crear una consulta que tome el id_cliente y lo relacione con el id_pedido y los productos que hay en ese pedido
    def consultar_pedidos_clientes_productos():
        try:
            query = """
                SELECT pedido.id_pedido, pedido.fecha, clt.id_cliente, clt.nombre, clt.apellido, pp.id_producto, pr.descripcion, pp.cantidad
                FROM pedido pedido
                INNER JOIN cliente clt ON pedido.id_cliente = clt.id_cliente
                INNER JOIN productos_del_pedido pp ON pedido.id_pedido = pp.id_pedido
                INNER JOIN producto pr ON pp.id_producto = pr.id_producto
            """
            cur.execute(query)
            resultados = cur.fetchall()

            print("\n=== CONSULTA DE PEDIDOS, CLIENTES Y PRODUCTOS ===")
            for registro in resultados:
                print(registro)

        except sqlite3.OperationalError as e:
            print("Operational Error", e)
        except sqlite3.Error as e:
            print("Error en la consulta:", e)
        except Exception as e:
            print("Error desconocido", type(e), e)

    consultar_pedidos_clientes_productos()

    
    try:
        con.commit() # Se actualizan los cambios pendientes en la BD
        con.close() # Se cierra la conexión
    except:
        con.rollback() # rollback devuelve la bd al último commit
        raise RuntimeError("Ha ocurrido un error ... Volviendo al commit anterior ... ")

 > Reset DB ... OK
 > Tabla producto creada con éxito
 > Tabla cliente creada con éxito
 > Tabla pedido creada con éxito
 > Tabla productos_del_pedido creada con éxito

=== REGISTROS DE LA TABLA CLIENTE ===
(1, 'Cristian', 'Rodríguez')
(2, 'David', 'Álvarez')
(3, 'Sara', 'Campos')
(4, 'Lara', 'Pérez')
(5, 'Sofía', 'Rodríguez')

=== REGISTROS DE LA TABLA PRODUCTO ===
(1, 'Macbook Pro 13 pulgadas', 1200.0)
(2, 'Dell Ultrasharp', 1500.0)
(3, 'Iphone 5S', 900.5)
(4, 'One Plus 6T', 499.0)
(5, 'Applewatch', 399.7)

=== REGISTROS DE LA TABLA PEDIDO ===
(1, '2020-12-20', 1)
(2, '2020-12-21', 2)
(3, '2020-12-21', 3)
(4, '2020-12-24', 1)
(5, '2020-12-27', 5)

=== REGISTROS DE LA TABLA PRODUCTOS_DEL_PEDIDO ===
(1, 1, 2, 1)
(2, 2, 1, 1)
(3, 5, 3, 1)
(4, 1, 1, 2)
(5, 3, 1, 3)
(6, 4, 2, 3)
(7, 5, 5, 4)
(8, 1, 1, 5)
(9, 2, 1, 5)
(10, 3, 1, 5)
(11, 4, 1, 5)
(12, 5, 1, 5)

=== CONSULTA AVANZADA 1 ===
(1, '2020-12-20', 1, 'Cristian')
(2, '2020-12-21', 2, 'David')
(3, '2020-12-21', 3, 'Sara')
(4, '2020-12-24', 1, 'Cristian')
(5, '2020-12-27', 5, 'Sofía')

=== CONSULTA AVANZADA 1 (SALIDA POR PANTALLA MEJORADA) ===
ID_PEDIDO   FECHA          ID_CLIENTE  NOMBRE
1           2020-12-20     1           Cristian
2           2020-12-21     2           David
3           2020-12-21     3           Sara
4           2020-12-24     1           Cristian
5           2020-12-27     5           Sofía

=== CONSULTA DE PEDIDOS, CLIENTES Y PRODUCTOS ===
(1, '2020-12-20', 1, 'Cristian', 'Rodríguez', 1, 'Macbook Pro 13 pulgadas', 2)
(1, '2020-12-20', 1, 'Cristian', 'Rodríguez', 2, 'Dell Ultrasharp', 1)
(1, '2020-12-20', 1, 'Cristian', 'Rodríguez', 5, 'Applewatch', 3)
(2, '2020-12-21', 2, 'David', 'Álvarez', 1, 'Macbook Pro 13 pulgadas', 1)
(3, '2020-12-21', 3, 'Sara', 'Campos', 3, 'Iphone 5S', 1)
(3, '2020-12-21', 3, 'Sara', 'Campos', 4, 'One Plus 6T', 2)
(4, '2020-12-24', 1, 'Cristian', 'Rodríguez', 5, 'Applewatch', 5)
(5, '2020-12-27', 5, 'Sofía', 'Rodríguez', 1, 'Macbook Pro 13 pulgadas', 1)
(5, '2020-12-27', 5, 'Sofía', 'Rodríguez', 2, 'Dell Ultrasharp', 1)
(5, '2020-12-27', 5, 'Sofía', 'Rodríguez', 3, 'Iphone 5S', 1)
(5, '2020-12-27', 5, 'Sofía', 'Rodríguez', 4, 'One Plus 6T', 1)
(5, '2020-12-27', 5, 'Sofía', 'Rodríguez', 5, 'Applewatch', 1)

**1) Practiquemos un poco con SQLite:**

* Crea una base de datos que se llame biblioteca
* Crea las siguiente tablas (deberás poner los tipos de los atributos con lógica, investiga cuales hay en SQLite para poder hacerlo):
    * autor(dni, nombre, apellidos, estarVivo)
    * libro(isbn, titulo, editorial, año_escrito)
    * usuario(dni, nombre, apellidos, numPrestamos)
* Inserta al menos 3 registros en cada una de las tablas
    * En autor, algunos vivos y otros muertos
    * En libro, algunos con año de escritura anerior a 1900 y otros después
    * En usuario, algunos con más de 10 prestamos y otros con menos
* Comprueba que todo este correcto con DB Browser (SQLite)
* Realiza las siguientes consultas:
    * Lista a todos los autores
    * Lista todos los libros
    * Lista todos los usuarios
    * Lista todos los autores que esten vivos (CLAUSULA WHERE)
    * Lista todos los libros que hayan sido escritos posteriormente a 1900
    * Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco

In [98]:
import sqlite3

# 1º Definimos la ruta o path de nuestra db. Creamos la función que nos devolverá la conexión
path_to_db = "biblioteca.db"

def db_connection(db_path = path_to_db):
    connection = sqlite3.connect(db_path) # Hacemos la conexión a la base de datos
    return connection

#### Esta función tiene que crear tres tablas: autor, libro, usuario
#### Recuerda cursor.execute(...) y finalizar con un connection.commit() para guardar los cambios
def generate_all_tables():
    # TABLA ----> AUTOR
    try:
        cursor.execute("""CREATE TABLE autor (
                        id_autor INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                        dni VARCHAR(9),
                        nombre VARCHAR(30),
                        apellidos VARCHAR(50) NOT NULL,
                        estarVivo INTEGER(1)
                        )""")
    except sqlite3.OperationalError:
        print("La tabla autor ya existe")
    except Exception as e:
        print("Error desconocido...", e, type(e))
    
    # TABLA ----> LIBRO
    try:
        cursor.execute("""CREATE TABLE libro (
                        id_libro INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                        isbn VARCHAR(13) NOT NULL,
                        titulo VARCHAR NOT NULL,
                        editorial VARCHAR NOT NULL,
                        publishedYear INTEGER(4) NOT NULL
                        )""")
    except sqlite3.OperationalError:
        print("La tabla libro ya existe")
    except Exception as e:
        print("Error desconocido...", e, type(e))

     # TABLA ----> USUARIO
    try:
        cursor.execute("""CREATE TABLE usuario (
                        id_usuario INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                        dni_usuario VARCHAR(9) NOT NULL,
                        nombre VARCHAR(30),
                        apellidos VARCHAR(50) NOT NULL,
                        numPedidos INTEGER NOT NULL
                        )""")
    except sqlite3.OperationalError:
        print("La tabla usuario ya existe")
    except Exception as e:
        print("Error desconocido...", e, type(e))
    
    connection.commit()
    print("Comprueba los cambios en el gestor DBBrowser!")


""" Nuevo registro en tabla autor 
dni: nueve caracteres y estarVivo puede aceptar 0=False o 1=True"""
def insert_autor_data(dni, nombre, apellidos, estarVivo):
    # Hacemos la comprobación de que el autor no exista en la base de datos
    cursor.execute("SELECT * FROM autor")
    autores = cursor.fetchall()
    for autor in autores:
        if (autor[1] == dni) or (autor[3] == apellidos):
            raise sqlite3.IntegrityError("Este autor ya está registrado en la tabla")

        
    try:
        query="""INSERT INTO autor (dni, nombre, apellidos, estarVivo) VALUES (?, ?, ?, ?)"""
        cursor.execute(query, (dni, nombre, apellidos, estarVivo))
        print("Autor añadido!")

    except sqlite3.OperationalError as e:
        print("Error operativo:", e)
    except sqlite3.IntegrityError as e: # Manejamos la posibilidad de que se repita la clave primaria
        print("Error de integridad. Este autor ya está registrado en la tabla:", e)
    except Exception as e:
        print("Error desconocido...", e, type(e))

    connection.commit()



"""Nuevo registro en tabla libro"""
def insert_book_data(isbn, titulo, editorial, publishedYear):
    
    #Manejando los posibles valores nulos o vacios
    if titulo == '' or isbn == '' or titulo == None or isbn == None:
        raise ValueError

    cursor.execute("SELECT * FROM libro")
    libros = cursor.fetchall()
    for libro in libros:
        if(libro[1] == isbn) or (libro[2] == titulo):
            raise sqlite3.IntegrityError

    try:
        query = """INSERT INTO libro (isbn, titulo, editorial, publishedYear) VALUES (?, ?, ?, ?)"""
        cursor.execute(query, (isbn, titulo, editorial, publishedYear))
        print("Libro añadido!")

    except ValueError as e:
        print("El valor introducido no es válido", e)
    except sqlite3.OperationalError as e:
        print("Error operativo", e)
    except sqlite3.IntegrityError as e: 
            print("Error de integridad. Este libro ya existe en la bbdd:", e)
    except Exception as e: 
        print("Error desconocido!", e, type(e))
    

    connection.commit()


"""Nuevo registro en tabla usuario"""
def insert_user_data(dni_usuario, nombre, apellidos, numPedidos):
    
    #Manejando los posibles valores nulos o vacios
    if dni_usuario == '' or apellidos == '' or dni_usuario == None or apellidos == None:
        raise ValueError

    cursor.execute("SELECT * FROM usuario")
    usuarios = cursor.fetchall()
    for user in usuarios:
        if(user[1] == dni_usuario):
            raise sqlite3.IntegrityError

    try:
        query = """INSERT INTO usuario (dni_usuario, nombre, apellidos, numPedidos) VALUES (?, ?, ?, ?)"""
        cursor.execute(query, (dni_usuario, nombre, apellidos, numPedidos))
        print("Usuario añadido a bbdd!")

    except ValueError as e:
        print("El valor introducido no es válido", e)
    except sqlite3.OperationalError as e:
        print("Error operativo", e)
    except sqlite3.IntegrityError as e: 
            print("Error de integridad. Este usuario ya existe en la bbdd:", e)
    except Exception as e: 
        print("Error desconocido!", e, type(e))
    
    connection.commit()

"""Función para devolver todos los elemetos de una tabla"""
def get_all(tabla):
    print("-------\nResultados de la tabla '{}':".format(tabla))
    cursor.execute("SELECT * FROM {}".format(tabla))
    results = cursor.fetchall()
    for element in results:
        print("ID: {} -> {}, {}, {}.".format(element[0], element[1], element[2], element[3]))


def delete_all_tables():
    try:
        cursor.execute("DROP TABLE IF EXISTS autor")
        cursor.execute("DROP TABLE IF EXISTS libro")
        cursor.execute("DROP TABLE IF EXISTS usuario")
        connection.commit()
        print("Todas las tablas han sido eliminadas... {} reset!".format(path_to_db))
    except Exception as e:
        print("Error desconocido", e, type(e))

    
    
# Consulta de aquellos autores que estén vivos a día de hoy
def autores_vivos(tabla_autores):

        if tabla_autores != "autor":
            raise ValueError

        lista_resultados = []
        try:
            cursor.execute("SELECT * FROM {} WHERE estarVivo = 1".format(tabla_autores))
            results = cursor.fetchall()
            # Mostramos los resultados por pantalla organizados:
            print("\n\n------\nEn la BBDD hay registros de los siguientes autores vivos:")
            for result in results:
                #  De tupla -> a lista 
                formatted_autor = list(result)
                # ID, DNI, Nombre, apellidos --> Creamos dict
                autor_vivo = {
                    "id_autor": formatted_autor[0],
                    "dni": formatted_autor[1],
                    "nombre": formatted_autor[2],
                    "apellidos": formatted_autor[3]
                }
                lista_resultados.append(autor_vivo)
                print("""· ID -> {} | Nombre y Apellidos -> {} {} | DNI -> {}""".format(autor_vivo["id_autor"], autor_vivo["nombre"], autor_vivo["apellidos"], autor_vivo["dni"]))
            
            
        except ValueError as e:
            print("Has introducido el nombre de una tabla que no es válida en esta función")
        except sqlite3.OperationalError as e:
            ("Error operacional.", e, type(e))
        except Exception as e:
            ("Error desconocido.", e, type(e))

        return lista_resultados


# Consulta de los libros escritos a partir del año 1900
def libros_posteriores_1900(tabla_libro):
    if tabla_libro != "libro":
        raise ValueError
    
    lista_resultados = []
    try:
        cursor.execute("SELECT * FROM libro WHERE publishedYear >= 1900")
        results = cursor.fetchall()

        # Bucle for para convertir cada tupla en lista y formatear la respuesta:
        print("\n\n------\nLos libros escritos después del año 1900 son:")
        for libro in results:
            libro_formatted = {
                "id_libro": libro[0],
                "isbn": libro[1],
                "titulo": libro[2],
                "editorial": libro[3],
                "año": libro[4],
            }
            print("· {} | {} |, {} -> {}".format(libro_formatted["titulo"], libro_formatted["año"], libro_formatted["editorial"], libro_formatted["isbn"]))

    except ValueError as e:
        print("La tabla introducida no es válida", e)
    except sqlite3.OperationalError as e:
            ("Error operacional.", e, type(e))
    except Exception as e:
        ("Error desconocido.", e, type(e))
    
    return lista_resultados

# Consulta de usuarios con mas de 10 pedidos y que se llame Paco
def user_mas_de_diez_pedidos(user_name: str):
    
    # Comprobamos que el user_name no esté bien introducido y que exista en la base de datos
    if type(user_name) != str:
        raise ValueError("El nombre de usuario debe ser un string!")

    lista_resultados = []
    try:
        cursor.execute("SELECT * FROM usuario WHERE nombre='{}'".format(user_name))
        results = cursor.fetchall()
        if len(results) == 0:
            print("\n\n-----\nNo existen resgistros en la BBDD con el nombre introducido: {}".format(user_name))
            return
        else:
            cursor.execute("SELECT * FROM usuario WHERE nombre='{}' AND numPedidos > 10".format(user_name))
            results = cursor.fetchall()
            lista_resultados = results

    except ValueError as e:
        print("Has introducido valores erróneos como argumentos de la función", e)
    except sqlite3.OperationalError as e:
        print("Operational error", e)
    except sqlite3.ProgrammingError as e:
        print("Error de programación", type(e), e)
    except sqlite3.Error as e:
        print("Error en la BBDD", type(e), e)
    except Exception as e:
        print("Error desconocido", e, type(e))

    if len(lista_resultados) == 0:
            print("\n\n-----\nNo hemos encontrado ningún usuario llamado '{}' con más de 10 pedidos".format(user_name))
    else:
        print("\n\n-----\nUsuario con más de 10 pedidos: ", lista_resultados[0])
    
    return lista_resultados

        

""" Función principal de nuestro programa"""
if __name__ == "__main__":
    
    # Llamamos a la conexión y creamos el cursor con el que manejaremos los datos
    connection = db_connection()
    cursor = connection.cursor()

    # Siguiendo el ejemplo de arriba, podemos eliminar todas las tablas y volver a generarlas
    """
    delete_all_tables()
    generate_all_tables()
    
    # Añadiendo autores a mi base de datos
    insert_autor_data(dni="12345678Q", nombre="Miguel", apellidos="Cervantes", estarVivo=0)
    insert_autor_data(dni="09876789R", nombre="Luis", apellidos="de Góngora y Argote", estarVivo=0)
    insert_autor_data("37652852K","Almudena","Grandes", 0)
    insert_autor_data("45454545G","Federico","García Lorca", 0)
    insert_autor_data("23423454Y","Jon","Bilbao", 1)
    insert_autor_data("96347277F","Fernando","Atxaga", 1)
    insert_autor_data("55555559T","Cristina","Morales", 1)
    insert_autor_data("24242426H","Rosa","Montero", 1)
    insert_autor_data("93356642N","Marta","Sanz", 1)

    # Añadiendo libros a la base de datos
    insert_book_data(isbn=1234567890123, titulo="Hamnet", editorial="Libros del Asteroide", publishedYear=2021)
    insert_book_data(isbn=3333333333333, titulo="El Quijote", editorial="Vicens Vives", publishedYear=1605)
    insert_book_data(isbn=4444444444444, titulo="Ley Agraria de Jovellanos", editorial="Impresor de la Real Sociedad", publishedYear=1795)
    insert_book_data(isbn=2222222222222, titulo="Los Orígenes de Aragón - Ensayo histórico", editorial="Zaragoza imprenta del hospicio", publishedYear=1878)
    insert_book_data(isbn=5555555555555, titulo="A propósito de nada", editorial="Alianza", publishedYear=2020)
    insert_book_data(isbn=6666666666666, titulo="El ferrocarril subterráneo", editorial="Random House", publishedYear=2017)

    # Añadiendo usuarios
    insert_user_data(dni_usuario="48155744T", nombre="Alvaro", apellidos="Fajardo Plaza", numPedidos=3)
    insert_user_data("583779220F", "Nebraska", "ThunderCat", 0)
    insert_user_data("07559224K", "Sara", "Macías", 15)
    insert_user_data("05839925J", "Irene", "Fajardo Plaza", 28)
    insert_user_data("38864724W", "Raul", "Pérez", 5)
    insert_user_data("96684763G", "Juan", "Sáncho", 17)
    """

    # Nuestras consultas a los datos que tenemos introducidos actualmente dentro de la BBDD
    get_all("autor")
    get_all("libro")
    get_all("usuario")

    # Consulta de los autores_vivos
    autores_vivos("autor")

    # Consulta de los libros posteriores a 1900
    libros_posteriores_1900("libro")

    # Consulta de usuarios
    user_mas_de_diez_pedidos("Paco")
    user_mas_de_diez_pedidos("Irene")


    #### Siguiendo la guía del ejercicio 1
    try:
        connection.commit() # Se actualizan los cambios pendientes en la BD
        connection.close()
        print("\n\n\n-------- La conexión con la base de datos se ha cerrado correctamente! -------- ") # Se cierra la conexión
    except:
        connection.rollback() # rollback devuelve la bd al último commit
        raise RuntimeError("Ha ocurrido un error ... Volviendo al commit anterior ... ")

-------
Resultados de la tabla 'autor':
ID: 1 -> 12345678Q, Miguel, Cervantes.
ID: 2 -> 09876789R, Luis, de Góngora y Argote.
ID: 3 -> 37652852K, Almudena, Grandes.
ID: 4 -> 45454545G, Federico, García Lorca.
ID: 5 -> 23423454Y, Jon, Bilbao.
ID: 6 -> 96347277F, Fernando, Atxaga.
ID: 7 -> 55555559T, Cristina, Morales.
ID: 8 -> 24242426H, Rosa, Montero.
ID: 9 -> 93356642N, Marta, Sanz.
-------
Resultados de la tabla 'libro':
ID: 1 -> 1234567890123, Hamnet, Libros del Asteroide.
ID: 2 -> 3333333333333, El Quijote, Vicens Vives.
ID: 3 -> 4444444444444, Ley Agraria de Jovellanos, Impresor de la Real Sociedad.
ID: 4 -> 2222222222222, Los Orígenes de Aragón - Ensayo histórico, Zaragoza imprenta del hospicio.
ID: 5 -> 5555555555555, A propósito de nada, Alianza.
ID: 6 -> 6666666666666, El ferrocarril subterráneo, Random House.
-------
Resultados de la tabla 'usuario':
ID: 1 -> 48155744T, Alvaro, Fajardo Plaza.
ID: 2 -> 583779220F, Nebraska, ThunderCat.
ID: 3 -> 07559224K, Sara, Macías.
ID: 4 -> 05839925J, Irene, Fajardo Plaza.
ID: 5 -> 38864724W, Raul, Pérez.
ID: 6 -> 96684763G, Juan, Sáncho.


------
En la BBDD hay registros de los siguientes autores vivos:
· ID -> 5 | Nombre y Apellidos -> Jon Bilbao | DNI -> 23423454Y
· ID -> 6 | Nombre y Apellidos -> Fernando Atxaga | DNI -> 96347277F
· ID -> 7 | Nombre y Apellidos -> Cristina Morales | DNI -> 55555559T
· ID -> 8 | Nombre y Apellidos -> Rosa Montero | DNI -> 24242426H
· ID -> 9 | Nombre y Apellidos -> Marta Sanz | DNI -> 93356642N


------
Los libros escritos después del año 1900 son:
· Hamnet | 2021 |, Libros del Asteroide -> 1234567890123
· A propósito de nada | 2020 |, Alianza -> 5555555555555
· El ferrocarril subterráneo | 2017 |, Random House -> 6666666666666


-----
No existen resgistros en la BBDD con el nombre introducido: Paco


-----
Usuario con más de 10 pedidos:  (4, '05839925J', 'Irene', 'Fajardo Plaza', 28)



-------- La conexión con la base de datos se ha cerrado correctamente! --------